tests/org.eclipse.wst.xml.xpath2.processor.tests/bugTestFiles/bug276134.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
  <xs:element name="person">
   <xs:complexType>
    <xs:sequence>
     <xs:element name="fname" type = "xs:string" />
     <xs:element name="lname" type = "xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="dob" type="xs:date" />
   </xs:complexType>
  </xs:element>
 
</xs:schema>