tests/org.eclipse.wst.xml.xpath2.processor.tests/bugTestFiles/bug276134_2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
  <xs:element name="person">
   <xs:complexType>
    <xs:sequence>
     <xs:element name="id" type = "xs:integer" />
     <xs:element name="fname" type = "xs:string" />
     <xs:element name="lname" type = "xs:string" />
     <xs:element name="dob" type = "xs:date" />
    </xs:sequence>
   </xs:complexType>
  </xs:element>
 
</xs:schema>