tests/org.eclipse.wst.xml.xpath2.processor.tests/bugTestFiles/bug338999.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="X">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="a" type="xs:integer" />
               <xs:element name="b" type="xs:integer" />
               <xs:element name="c" type="xs:integer" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
