tests/org.eclipse.wst.xml.xpath2.processor.tests/bugTestFiles/bugNilled.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
  <xs:element name="root">
   <xs:complexType>
    <xs:sequence>
     <xs:element name="element1" type = "xs:integer" nillable="true"/>
     <xs:element name="element2" type = "xs:integer" nillable="true"/>
     <xs:element name="element3" type = "xs:integer" nillable="false"/>
     <xs:any namespace="##any" processContents="skip"/>
    </xs:sequence>
   </xs:complexType>
  </xs:element>
 
</xs:schema>