xml/tests/org.eclipse.wst.xsd.ui.tests/testresources/XSD/Chameleon-NoNamespace/RefByElement/Used/Main-Group.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.example.org/Main"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.example.org/Main">

    <xsd:include schemaLocation="../../Include1.xsd"></xsd:include>

    <xsd:group name="MainGroup1">
    	<xsd:sequence>
    		<xsd:element name="localElem1" type="xsd:string"></xsd:element>
            <xsd:choice>
    			<xsd:element name="localElem2" type="xsd:string"></xsd:element>
    			<xsd:element ref="ImpElem1"></xsd:element>
    		</xsd:choice>
    	</xsd:sequence>
    </xsd:group>
</xsd:schema>