tests/org.eclipse.wst.xsd.ui.tests/testresources/XSD/Includes/RefByGroupDefinition/Unused/Main-CT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.example.org/Main"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.example.org/Main">

    <xsd:include schemaLocation="../../Include1.xsd"></xsd:include>

	<xsd:complexType name="MainCT">
		<xsd:sequence>
            <xsd:group ref="MainGroupDefinition1"></xsd:group>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:group name="MainGroupDefinition1">
		<xsd:sequence>
			<xsd:element name="grElem1" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>