tests/org.eclipse.wst.xsd.ui.tests/testresources/XSD/Simple/Import002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://wsdlTest/Import">
	<xsd:complexType name="ct02">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="field1"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="field2"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="field3"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="field4"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="field5"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
