tests/org.eclipse.wst.xsd.ui.tests/testresources/XSD/Chameleon-NoNamespace/RefByAttributeGroup/Unused/Main.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.example.org/Main"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.example.org/Main">
    <xsd:include schemaLocation="../../Include1.xsd"></xsd:include>
	<xsd:element name="MainElement1" type="MainCT"></xsd:element>

	<xsd:complexType name="MainCT">
        <xsd:attributeGroup ref="MainAttributeGroup1"></xsd:attributeGroup>
    </xsd:complexType>

	<xsd:attributeGroup name="MainAttributeGroup1">
		<xsd:attribute name="atr1" type="xsd:string"></xsd:attribute>
		<xsd:anyAttribute></xsd:anyAttribute>
	</xsd:attributeGroup>
</xsd:schema>